.send-button{
      background-color: rgb(25, 135, 84);
      color: white;
      padding: 12px 20px;
      border: none;
      margin-left: 10px;
      border-radius: 8px;
      font-size: 15px;
    }
   .chat-input{
      padding: 12px 15px;
      border-radius: 10px;
      border-width: 1px;
      font-size: 15px;
      flex-grow: 1;
    }

    .chat-input-container{
      display: flex;
      margin-bottom: 10px;
      margin-top: 10px;
      margin-bottom: 20px;
    }

    .clear-button{
      background-color: rgb(228, 222, 222);
      color: black;
      padding: 12px 20px;
      border: none;
      margin-left: 10px;
      border-radius: 8px;
      font-size: 15px;
    }

 